<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.earthseaedu.backend.mapper.ExamPaperQueryMapper">

    <select id="findByIds" resultType="com.earthseaedu.backend.model.mockexam.ExamPaperSummary">
        SELECT p.exam_paper_id, p.paper_code, p.paper_name, p.subject_type, p.status, b.bank_name, b.status AS bank_status
        FROM exam_paper p
        JOIN exam_bank b ON b.exam_bank_id = p.exam_bank_id
        WHERE p.delete_flag = '1'
          AND b.delete_flag = '1'
          AND b.exam_type = 'IELTS'
          AND p.exam_paper_id IN
          <foreach collection="examPaperIds" item="examPaperId" open="(" separator="," close=")">
              #{examPaperId}
          </foreach>
          <if test="requireEnabled">
              AND p.status = 1
              AND b.status = 1
          </if>
    </select>

</mapper>
